* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}
@media screen and (min-width: $brk-4k) {
    html {
        font-size: 150%;
    }
}

body {
	background-color: $color-black;
}

input, button {
    border-radius: .25rem;
    outline: none;

}