body {
	color: $color-off-white;
	font-family: $font-body;
	font-size: $font-desktop-sm;
	font-weight: $font-body-reg;
}

h1 {
	font-family: $font-header;
	font-size: $font-desktop-xlg;
	font-weight: $font-heading-bold;
}

.header {

	&__login {
		font-weight: $font-body-bold;
	}

	&__title {
		color: $color-green;
		font-size: $font-desktop-lg;
	}
}