body {
	color: $color-light-grey;
	font-family: $font-body;
	font-size: $font-desktop-sm;
	font-weight: $font-reg;
}
h1 {
  color: $color-primary-green;
  font-family: $font-logo;
  font-size: $font-desktop-xlg;
}
h2 {
  font-size: $font-desktop-lg;
}
h3 {
  font-size: $font-desktop-md;
}

.logo {
    color: $color-primary-green;
	font-family: $font-logo;
	font-size: $font-desktop-xlg;
	font-weight: $font-bold;
}
@media (min-width: $brk-xxl) {
    .logo {
        font-size: 5rem;
    }
}

label {
    font-size: $font-desktop-sm;
}
@media (min-width: $brk-xxl) {
    label {
        font-size: 1.5rem;
    }
}