/* FONT VARIABLES */
/* Families */
$font-logo: 'Caveat Brush', sans-serif;
$font-body: 'Roboto', sans-serif;

/* Sizes */
$font-desktop-sm: 1.5rem;
$font-desktop-md: 2.5rem;
$font-desktop-lg: 3.5rem;
$font-desktop-xlg: 4.5rem;

/* Weights */
$font-light: 300;
$font-reg: 500;
$font-bold: 900;

/* COLORS */
$color-black: #0E1515;
$color-dark-grey: #1C2222;
$color-dark-red: #301D1D;
$color-dark-yellow: #4A401C;
$color-med-grey: #2F3737;
$color-med-red: #543939;
$color-med-yellow: #706743;
$color-med-green: #428A45;
$color-light-grey: #ADB8AE;
$color-primary-green: #68B16A;
$color-primary-red: #E05252;
$color-primary-yellow: #D7B842;

/* SPACING */
$spacer-xs: 1rem;
$spacer-sm: 1.5rem;
$spacer-md: 2rem;
$spacer-lg: 2.75rem;
$spacer-xl: 3.5rem;

/* BREAKPOINTS */
$brk-sm: 576px;
$brk-md: 768px;
$brk-lg: 992px;
$brk-xl: 1200px;
$brk-xxl: 1400px;
$brk-4k: 2592px;
