/* FONT VARIABLES */
/* Families */
/* Sizes */
/* Weights */
/* COLORS */
/* SPACING */
/* BREAKPOINTS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

@media screen and (min-width: 2592px) {
  html {
    font-size: 100%; } }

body {
  background-color: #0E1515; }

input, button {
  border-radius: .25rem;
  outline: none; }

.btn {
  border-radius: .25rem;
  cursor: pointer;
  padding: .5rem; }

input {
  background-color: #1C2222;
  border: 2px solid #ADB8AE;
  color: #ADB8AE;
  filter: drop-shadow(0 0.5rem 0 #ADB8AE);
  min-width: 24rem;
  padding: .5rem .5rem; }

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 3.5rem 0;
  width: 100%; }

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 768px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 992px; } }

@media (min-width: 1400px) {
  .container {
    max-width: 1200px; } }

@media screen and (min-width: 2592px) {
  .container {
    max-width: 2200px; } }

body {
  color: #ADB8AE;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500; }

.logo {
  color: #68B16A;
  font-family: "Caveat Brush", sans-serif;
  font-size: 4.5rem;
  font-weight: 900; }

@media (min-width: 1400px) {
  .logo {
    font-size: 5rem; } }

label {
  font-size: 1.5rem; }

@media (min-width: 1400px) {
  label {
    font-size: 1.5rem; } }

header {
  background-color: #1C2222;
  border-bottom: 0.5rem solid #2F3737; }

.login-form {
  display: flex;
  flex-direction: column; }
  .login-form__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem; }
    .login-form__input label {
      margin-bottom: .5rem; }
  .login-form__btn {
    align-items: center;
    background-color: #ADB8AE;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    padding: .5rem;
    transform: scale(100%);
    transition: all .15s ease-in-out; }
    .login-form__btn i {
      margin-right: .5rem; }
    .login-form__btn:hover {
      background-color: #68B16A;
      transform: scale(105%); }

.container.container--main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .container.container--main-content .btn-primary {
    background-color: #2F3737;
    border: none;
    color: #ADB8AE;
    font-size: 2.5rem;
    font-weight: 900;
    transition: all .15s ease-in-out;
    width: 50%; }
    .container.container--main-content .btn-primary:hover {
      background-color: #68B16A;
      color: #1C2222; }
    .container.container--main-content .btn-primary.btn.clicked {
      border-radius: .25rem .25rem 0 0; }
  .container.container--main-content .btn-secondary {
    background-color: #1C2222;
    border: none;
    color: #ADB8AE;
    cursor: pointer;
    font-weight: 900;
    margin-top: 2rem;
    transition: all .15s ease-in-out; }
    .container.container--main-content .btn-secondary:hover {
      background-color: #ADB8AE;
      color: #1C2222; }
  .container.container--main-content .add-food__form {
    background-color: #2F3737;
    border-radius: 0 0 .25rem .25rem;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    padding: 0 3.5rem;
    transition: all .35s ease-in-out;
    width: 50%; }
    .container.container--main-content .add-food__form.show {
      max-height: 1900px;
      padding: 3.5rem; }
    .container.container--main-content .add-food__form .add-food__input-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem; }
    .container.container--main-content .add-food__form label {
      margin-bottom: 1rem; }
    .container.container--main-content .add-food__form input {
      flex-grow: 1;
      padding: .5rem; }
