header {
	background-color: $color-dark-grey;
    border-bottom: .5rem solid $color-med-grey;
}

.login-form {
    display: flex;
    flex-direction: column;

    &__input {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.25rem;

        label {
            margin-bottom: .5rem;
        }

        input {
            background-color: $color-black;
            border: 2px solid $color-light-grey;
            color: $color-light-grey;
            filter: drop-shadow(0 .5rem 0 $color-light-grey);            
            padding: .5rem .5rem;
            min-width: 24rem;
        }
    }

    &__btn {
        align-items: center;
        background-color: $color-light-grey;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-top: .5rem;
        padding: .5rem;
        transform: scale(100%);
        transition: all .15s ease-in-out;

        i {
            margin-right: .5rem;
        }

        &:hover {
            background-color: $color-primary-green;
            transform: scale(105%);
        }
    }
}