.container.container--main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .btn-primary {
        background-color: $color-med-grey;
        border: none;
        color: $color-light-grey;
        font-size: $font-desktop-md;
        font-weight: $font-bold;
        transition: all .15s ease-in-out;
        width: 50%;

        &:hover {
            background-color: $color-primary-green;
            color: $color-dark-grey;
        }

        &.btn.clicked {
            border-radius: .25rem .25rem 0 0;
        }
    }

    .btn-secondary {
        background-color: $color-dark-grey;
        border: none;
        color: $color-light-grey;
        cursor: pointer;
        font-weight: $font-bold;
        margin-top: $spacer-md;
        transition: all .15s ease-in-out;

        &:hover {
            background-color: $color-light-grey;
            color: $color-dark-grey;
        }
    }

    .add-food__form {
        background-color: $color-med-grey;
        border-radius: 0 0 .25rem .25rem;
        display: flex;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        padding: 0 $spacer-xl;
        transition: all .35s ease-in-out;
        width: 50%;

        &.show {
            max-height: 1900px;
            padding: $spacer-xl;
        }

        .add-food__input-container {
            display: flex;
            flex-direction: column;
            margin-bottom: $spacer-md;
        }

        label {
            margin-bottom: $spacer-xs;
        }

        input {
            flex-grow: 1;
            padding: .5rem;
        }
    }
}