:root {
  --black: #0E1515;
  --dark-grey: #1C2222;
  --dark-red: #301D1D;
  --dark-yellow: #4A401C;
  --medium-grey: #2F3737;
  --medium-red: #543939;
  --medium-yellow: #706743;
  --medium-green: #428A45;
  --light-grey: #ADB8AE;
  --primary-green: #68B16A;
  --primary-red: #E05252;
  --primary-yellow: #D7B842;
}

body {
  background-color: var(--black);
  color: var(--light-grey);
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: var(--primary-green);
  font-family: 'Caveat Brush', cursive;
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.25rem;
}
h4 {
  color: var(--light-grey);
}

a {
  color: var(--light-grey);
  text-decoration: none;
}

a:hover,
a h4:hover {
  color: var(--primary-green);
}

.header {
  background-color: var(--dark-grey);
  border-color: var(--medium-grey) !important;
}

button.btn.btn-primary {
  background-color: var(--medium-grey);
  /* border-color: var(--medium-grey);
  box-shadow: 0 .25rem 0 var(--medium-grey); */
  border: none;
  color: var(--light-grey);
  transition: all .25s ease-in-out;
}
button.btn.btn-primary:hover {
  background-color: var(--medium-green);
  /* border-color: var(--primary-green) !important;
  box-shadow: 0 .25rem 0 var(--primary-green); */
  border: none;
  cursor: pointer;
}

.bg-dark-grey {
  background-color: var(--dark-grey) !important;
}
.bg-dark-red {
  background-color: var(--dark-red);
}
.bg-dark-yellow {
  background-color: var(--dark-yellow);
}

.border-med-red {
  border-color: var(--medium-red) !important;
}
.border-med-yellow {
  border-color: var(--medium-yellow) !important;
}
.border-med-grey {
  border-color: var(--medium-grey) !important;
}

.drop-shadow-med-grey {
  filter: drop-shadow(0 .75rem 0 var(--medium-grey));
}
.drop-shadow-med-red {
  filter: drop-shadow(0 .75rem 0 var(--medium-red));
}
.drop-shadow-med-yellow {
  filter: drop-shadow(0 .75rem 0 var(--medium-yellow));
}

.text-red {
  color: var(--primary-red);
}

.text-yellow {
  color: var(--primary-yellow);
}

.text-green {
  color: var(--primary-green);
}
.text-light-grey {
  color: var(--light-grey) !important;
}

.text-hover-green:hover {
  color: var(--primary-green) !important;
}
.text-hover-red:hover {
  color: var(--primary-red) !important;
}
.text-hover-yellow:hover {
  color: var(--primary-yellow) !important;
}

.fas.fa-times.fa-2x.position-absolute {
  cursor: pointer;
  right: .5rem;
  top: .5rem;
}

#refrigerator-list,
#freezer-list {
  position: relative;
  transform: translate(0, 0);
  opacity: 1;
  transition: all .25s ease-in-out;
}
.slider-container {
  overflow: visible;
  position: relative;
}

#refrigerator-list.hidden {
  transform: translate(-100%, 0%);
  opacity: 0;
}

#freezer-list.hidden {
  transform: translate(100%, -100%);
  opacity: 0;
}
